In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')

In [5]:
df['date']=pd.to_datetime(df['date'])

In [6]:
df=df.set_index('date')

In [7]:
#groupby=agrupamento por valores unicos de uma ou mais colunas
df.groupby(by='classification')

In [8]:
df.groupby(by='classification').mean()

                temperatura
classification
confortavel       24.000000
frio              20.000000
muito quente      31.200000
quente            28.533333

In [9]:
df.groupby?

In [10]:
#remoção de uma coluna
df.drop('temperatura',axis=1)

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente
2020-04-01         quente
2020-05-01    confortavel
2020-06-01           frio

In [18]:
#copia de um dataframe=evita o compartilhamnento de memoria
#sem copy(),operações inplace df2 também alteram df 
df2=df.copy()

In [34]:
df2.drop('temperatura',axis=1)

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente
2020-04-01         quente
2020-05-01    confortavel
2020-06-01           frio

In [ ]:
#inplace
df2.drop('temperatura',axis=1,inplace=True)

In [31]:
df2.head()

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente
2020-04-01         quente
2020-05-01    confortavel