In [7]:
import pandas as pd

In [8]:
#leitura de dados csv
df=pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [17]:
#leitura de planilhas excell
#2 abas(worksheets)
#leitura do arquivo todo
excel_file=pd.ExcelFile('https://pycourse.s3.amazonaws.com/temperature.xlsx')

In [20]:
df2=pd.read_excel(excel_file,sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [37]:
df3=pd.read_excel(excel_file,sheet_name='Sheet2')
df3

        date temperatura classification
0 2020-01-01        29,1         quente
1 2020-02-01        31,2   muito quente
2 2020-03-01        28,5         quente
3 2020-04-01        28,0         quente
4 2020-05-01        24,0    confortavel
5 2020-06-01        20,0           frio

In [38]:
n=3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [39]:
n=3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [40]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [44]:
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [43]:
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

In [46]:
df['date']

0    2020-01-01
1    2020-02-01
2    2020-03-01
3    2020-04-01
4    2020-05-01
5    2020-06-01
Name: date, dtype: object

In [51]:
df[['date','classification','temperatura']]

         date classification  temperatura
0  2020-01-01         quente         29.1
1  2020-02-01   muito quente         31.2
2  2020-03-01         quente         28.5
3  2020-04-01         quente         28.0
4  2020-05-01    confortavel         24.0
5  2020-06-01           frio         20.0

In [57]:
#indexação por indice
df.iloc[:,1]

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [59]:
#indexação por label
df.loc[:,'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [60]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [64]:
#convertendo o dtype
df['date']=pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [66]:
#setando index
df=df.set_index('date')

In [67]:
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [72]:
#indexação booleana
#cond=df['temperatura']>=25
#cond
df[df['temperatura']>=25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [76]:
#indexação usando indice
#nao seria possivel se o dtype fosse object
df[df.index<='2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [80]:
#indexação booleana
#slicing
df.loc[df.index>='2020-03-01',['classification']]

           classification
date
2020-03-01         quente
2020-04-01         quente
2020-05-01    confortavel
2020-06-01           frio